<a href="https://colab.research.google.com/github/amarsinghen/landmark-detection-kaggle/blob/master/google_landmark_detection_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

TensorFlow 2.x selected.

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
import functools

In [0]:
import numpy as np
import pandas as pd
import pathlib
import tensorflow as tf

In [10]:
tf.__version__

'2.0.0-rc2'

In [0]:
TRAIN_DATA_URL = "https://s3.amazonaws.com/google-landmark/metadata/train.csv"
TRAIN_ATTRIBUTION_DATA_URL = "https://s3.amazonaws.com/google-landmark/metadata/train_attribution.csv"
TRAIN_LABEL_TO_CATEGORY_DATA_URL = "https://s3.amazonaws.com/google-landmark/metadata/train_label_to_category.csv"
TRAIN_IMAGES_DATA_TAR_URL = "https://s3.amazonaws.com/google-landmark/train/images_000.tar"

In [64]:
train_file_csv = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)
train_attribution_csv= tf.keras.utils.get_file("train_attribution.csv", TRAIN_ATTRIBUTION_DATA_URL)
train_label_to_category_csv = tf.keras.utils.get_file("train_label_to_category.csv",TRAIN_LABEL_TO_CATEGORY_DATA_URL)

train_images_data_dir = tf.keras.utils.get_file(origin=TRAIN_IMAGES_DATA_TAR_URL, fname='train_landmark_photos', extract=True)
train_images_data_dir = pathlib.Path(train_images_data_dir)

Downloading data from https://s3.amazonaws.com/google-landmark/train/images_000.tar
1067024384/1067018752 [==============================] - 68s 0us/step

In [0]:
TEST_DATA_CSV_URL = "https://s3.amazonaws.com/google-landmark/metadata/test.csv"
TEST_DATA_RECOGNITION_SOLUTION_V2_URL = "https://s3.amazonaws.com/google-landmark/ground_truth/recognition_solution_v2.1.csv"
TEST_DATA_RETRIEVAL_SOLUTION_V2_URL = "https://s3.amazonaws.com/google-landmark/ground_truth/retrieval_solution_v2.1.csv"
TEST_IMAGES_DATA_TAR_URL = "https://s3.amazonaws.com/google-landmark/test/images_000.tar"

In [26]:
test_file_csv = tf.keras.utils.get_file("test.csv", TEST_DATA_CSV_URL)
test_image_recognition_solution_csv= tf.keras.utils.get_file("test_images_recognition_solution.csv", TEST_DATA_RECOGNITION_SOLUTION_V2_URL)
test_image_retrieval_solution_csv = tf.keras.utils.get_file("test_images_retrieval_solution.csv",TEST_DATA_RETRIEVAL_SOLUTION_V2_URL)

test_images_data_dir = tf.keras.utils.get_file(origin=TEST_IMAGES_DATA_TAR_URL, fname='test_landmark_photos', extract=True)
test_images_data_dir = pathlib.Path(test_images_data_dir)

Downloading data from https://s3.amazonaws.com/google-landmark/metadata/test.csv
1998848/1998812 [==============================] - 1s 1us/step
Downloading data from https://s3.amazonaws.com/google-landmark/ground_truth/recognition_solution_v2.1.csv
3031040/3029774 [==============================] - 1s 0us/step
Downloading data from https://s3.amazonaws.com/google-landmark/ground_truth/retrieval_solution_v2.1.csv
3784704/3780702 [==============================] - 1s 0us/step
Downloading data from https://s3.amazonaws.com/google-landmark/test/images_000.tar
606298112/606298112 [==============================] - 45s 0us/step

In [29]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Aug 27 16:17 sample_data

In [0]:
train_file_csv_df = pd.read_csv(train_file_csv)
train_attribution_csv_df = pd.read_csv(train_attribution_csv)
train_label_to_category_csv_df = pd.read_csv(train_label_to_category_csv)

In [0]:
test_file_csv_df = pd.read_csv(test_file_csv)
test_image_recognition_solution_csv_df = pd.read_csv(test_image_recognition_solution_csv)
test_image_retrieval_solution_csv_csv_df = pd.read_csv(test_image_retrieval_solution_csv)

In [43]:
train_file_csv_df.head(1)

                 id  ... landmark_id
0  6e158a47eb2ca3f6  ...      142820

[1 rows x 3 columns]

In [44]:
train_attribution_csv_df.head(1)

                 id  ...                                     title
0  6e158a47eb2ca3f6  ...  File:Observatoriet väderkammer 2013a.jpg

[1 rows x 5 columns]

In [46]:
train_label_to_category_csv_df.head(1)

   landmark_id                                           category
0            0  http://commons.wikimedia.org/wiki/Category:Hap...

In [47]:
test_file_csv_df.head(1)

                 id
0  00016575233bc956

In [48]:
test_image_recognition_solution_csv_df.head(1)

                 id landmarks    Usage
0  e324e0f3e6d9e504       NaN  Private

In [49]:
test_image_retrieval_solution_csv_csv_df.head(1)

                 id images    Usage
0  a1788046694b0213   None  Ignored

In [104]:
train_image_count = len(list(train_images_data_dir.glob('**/*.jpg')))
print(train_image_count)

0

In [94]:
print(train_image_count)

0

In [77]:
train_images_data_dir.absolute()

PosixPath('/root/.keras/datasets/train_landmark_photos')